@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/*Raleway*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/*Great Vibes*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Raleway", sans-serif;
  }

  body {
    overflow-x: hidden;
    /* Prevent sideways scrolling */
    margin: 0;
    padding: 0;
  }

  html,
  body {
    width: 100%;
    height: 100%;
  }

  * {
    box-sizing: border-box;
  }

  /* Ensure no sideways scrolling */
  .container,
  .max-w-screen-lg {
    max-width: 100%;
    overflow-x: hidden;
  }

  @media (max-width: 640px) {
    .max-w-screen-lg {
      width: 100%;
    }

    .h-screen {
      height: auto;
      /* Adjust for mobile */
    }

    .px-4 {
      padding-left: 16px;
      padding-right: 16px;
    }

    .w-full {
      width: 100%;
    }
  }

  /* Debugging styles for SocialIcons */
  .social-icons-container {
    position: fixed;
    top: 35%;
    left: 0;
    z-index: 50;
    background-color: transparent;
    /* Ensure it doesn't block other elements */
  }

  /* Ensure visibility */
  .social-icons-container ul {
    overflow: visible;
  }

  .social-icons-container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    /* Adjust width for readability */
    height: 56px;
    /* Standard height for items */
    padding: 8px;
    background-color: #4a5568;
    /* Tailwind's gray-700 */
    color: #ffffff;
    /* Text color */
    margin-bottom: 8px;
    /* Space between items */
    border-radius: 8px;
    transition: all 0.3s ease;
    /* Smooth hover effects */
  }

  /* Hover effect for animation */
  .social-icons-container li:hover {
    transform: translateX(20px);
    border-radius: 16px;
  }

  /* Text and icon alignment */
  .social-icons-container a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
    color: inherit;
  }

}